chapter21/chapter21-consumer/src/wsdl/CardValidator16Service.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.2.1-hudson-28-. -->
<xs:schema xmlns:tns="http://ex16.chapter21.javaee7.book.agoncal.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema"
           version="1.0" targetNamespace="http://ex16.chapter21.javaee7.book.agoncal.org/">

    <xs:element name="ValidateCreditCard" type="tns:ValidateCreditCard"/>

    <xs:element name="ValidateCreditCardResponse" type="tns:ValidateCreditCardResponse"/>

    <xs:element name="creditCard16" type="tns:creditCard16"/>

    <xs:complexType name="ValidateCreditCard">
        <xs:sequence>
            <xs:element name="CreditCard" type="tns:creditCard16" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="creditCard16">
        <xs:sequence>
            <xs:element name="controlNumber" type="xs:int" minOccurs="0"/>
            <xs:element name="expiryDate" type="xs:string" minOccurs="0"/>
            <xs:element name="number" type="xs:string" minOccurs="0"/>
            <xs:element name="type" type="xs:string" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="ValidateCreditCardResponse">
        <xs:sequence>
            <xs:element name="IsValid" type="xs:boolean"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>