chapter12/src/main/java/org/agoncal/book/javaee7/chapter12/ex11/creditcard.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="creditCard" type="creditCard"/>

  <xs:complexType name="creditCard">
    <xs:sequence>
      <xs:element name="expiry-date" type="xs:string" default="01/10" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
      <xs:element name="control-number" type="xs:int" minOccurs="0"/>
    </xs:sequence>
    <xs:attribute name="number" type="xs:string" use="required"/>
  </xs:complexType>
</xs:schema>
